router bgp 65001
 no bgp default ipv4-unicast
 bgp log-neighbor-changes
 no bgp inbound-route-filter
 network 10.10.10.1
 neighbor 20.20.20.1 remote-as 65001
 neighbor 20.20.20.1  fall-over bfd multihop  
 neighbor 20.20.20.1 update-source lo
  allocate-label all
 	  
 address-family ipv4 labeled-unicast
 
   neighbor 20.20.20.1 activate
   neighbor 20.20.20.1 next-hop-self
   exit-address-family
  address-family  vpnv4 unicast
 	  
 
   neighbor 20.20.20.1 activate
    exit-address-family
  	  
 
 address-family ipv4 vrf 1001	  
 redistribute connected  
 exit-address-family
  
       
