{%if ldp is defined%}
router ldp
 {% for peer in ldp.peers -%}
 targeted-peer ipv4 {{ peer.address }}
  exit
 {% endfor %}
{% if  ldp.advertise_label_prefix is defined %}
 advertise-labels for only_lo to any
{%endif%}

{% for interface in ldp.interfaces -%}
interface {{ interface.name }}
 enable-ldp {{ interface.protocol }}
 label-switching
 exit
{% endfor %}
{%endif%}
