feature ntp vrf management
{% for ntp in ntp.states -%}
 ntp {{ ntp.state }} vrf management
{% endfor -%}
{% for server in ntp.server -%}
 ntp server {{ server.address }} vrf management
{% endfor -%}
logging remote server {{ ntp.logserver }} 5 vrf management
router-id {{ ntp.routerid }}
service unsupported-transceiver
commit
