lldp run
{% for lldp in lldp.lldp1 -%}
interface {{ lldp.name }}
 {{ lldp.lagent }}
  set lldp {{ lldp.state }} {{ lldp.mode }}
  lldp tlv {{ lldp.MED }} {{ lldp.powerviamdi }} select
  set lldp {{ lldp.port }} {{ lldp.ifname}}
  set lldp management-address-tlv ip-address
  {% for tlvselect in lldp.tlvselect -%}
   lldp tlv basic-mgmt {{ tlvselect.mgmt }} select
  {% endfor -%}
{% endfor -%}
  commit

