{% for interface in interfaces.ifnames -%}
interface {{ interface.ifname }}
{%if interface.loadinterval is defined %}
 load-interval {{ interface.loadinterval }}
{%endif%}
{% if "lo" in  interface.ifname  %}
 ipv6 address {{ interface.address1 }}
 bfd session {{ interface.bfdsession }} multihop
{%else%}
{%endif%}
{%if interface.switch  is defined %}
 {{ interface.switch }}
{%endif%}
{%if interface.speed  is defined %}
 speed  {{ interface.speed }}
{%endif%}
{% if interface.bridge  is defined %}
 bridge-group {{ interface.bridge }}
{%endif%}
{% if interface.mode  is defined %}
 switchport mode {{ interface.mode }}
{%endif%}
{% if interface.vlan  is defined %}
 switchport trunk allowed vlan {{ interface.vlan }}
{%endif%}
{% if interface.address  is defined %}
 ip address {{ interface.address }}
{%endif%}
{% if interface.mtu  is defined %}
 mtu {{ interface.mtu }}
{%endif%}
{% if interface.groupid  is defined %}
 channel-group {{ interface.groupid }} mode {{ interface.state }}
 exit
{% endif %}
{% endfor %}
