{%if Route_Map is defined%}
{% for routemap in Route_Map.params -%}
route-map {{ routemap.name }} {{routemap.permission}} {{routemap.seq_no}}
{% if routemap.match=="address" %}
 {{ routemap.operation}} {{ routemap.protocol }} {{ routemap.match }} prefix-list {{routemap.prefix_list}}
{%else%}
 {{ routemap.operation}} {{ routemap.protocol }} {{ routemap.match }} {{routemap.prefix_list}}
{%endif%}
!
{% endfor %}
{%endif%}
commit
