lldp run
{% for lldp in lldp.lldp1 -%}
interface {{ lldp.name }}
 {{ lldp.lagent }}
  set lldp {{ lldp.state }} {{ lldp.mode }}
  lldp tlv-select {{ lldp.MED }} {{ lldp.powerviamdi }}
  set lldp {{ lldp.port }} {{ lldp.ifname}}
  set lldp management-address-tlv ip-address
  {% for tlvselect in lldp.tlvselect -%}
   lldp tlv-select basic-mgmt {{ tlvselect.mgmt }}
  {% endfor -%}
  exit
{% endfor -%}

