{% if L3VPN.vrfs is defined %}
{% for vrf in L3VPN.vrfs -%}
  ip vrf {{ vrf.vrf_name }}
  rd {{ vrf.rd_1 }}:{{ vrf.rd_2 }}
  route-target both {{ vrf.rt_1 }}:{{ vrf.rt_2 }}
{% endfor %}

{% for interface in L3VPN.vrf_interfaces -%}
  interface {{ interface.interface_name }}
  ip vrf forwarding {{ interface.vrf_name }}
  ip address {{ interface.address }}

{% endfor %}
{% endif %}