!
hostname {{item.hostname|upper}}
!
interface lo
 ip address 127.0.0.1/8
 ip address {{item.loopback}} secondary
 ipv6 address ::1/128
!
{% for links in item.links %}
interface {{links.spine_port}}
 description downlink to Leaf Switch {{links.leaf_switch}}
 ip address {{links.spine_port_local_ip}}/31
!
{% endfor %}
!
router bgp {{item.local_ASN}}
 bgp bestpath as-path multipath-relax
 max-paths ebgp 16
{% for links in item.links %}
 neighbor {{links.leaf_port_remote_ip}} remote-as {{links.remote_ASN}}
{% endfor %}}
!
line con 0
 login
line vty 0 871
 exec-timeout 0 0
 login
!
end
